@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&family=Roboto:wght@100&display=swap');

:root {
	--main-text-color: white;
	--main-bg-color: #0B0B0B; 
	--green-color: #9DCC0B;
	--red-color: #F43E3A;
	--blue-color: #3FCDFA; 
	--orange-color:#FCA116;
}

body {
	color: var(--main-text-color);
	background-color: var(--main-bg-color);
	max-height: 100vh;
	display: flex;
	flex-direction: nowrap;
	justify-content: flex-start;
	font-family: 'Roboto Mono', monospace;
}

.graphic {
	min-width: 20vw;
	min-height: 100vh;
}

.info-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-top: 40vh;
}

/* For mobile phones */
@media (max-width : 640px) {
		body {display: absolute;}
		.graphic, .info-container {
			margin: 0;
			position: absolute;
			top: 50%;
			left: 50%;
			-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
		}

		.info-container {
			background-color: var(--main-bg-color);
			padding: 2rem;
		}
}

h1 {
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	margin: 0
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

p {
	margin: 0;
}

a {
	color: var(--main-text-color);
	text-decoration: none;
}

.vertical-line {
	width: 100%;
	border-top: 1px solid var(--main-text-color);
}

a:hover {
	text-decoration: underline;
}

.animation {
	animation-iteration-count: infinite;
}

#svg-graphic-green-line {
	stroke: var(--green-color);
	position: relative;
	animation: slide-down-animation 6s ease-in infinite;
}

#svg-graphic-red-line {
	stroke: var(--red-color);
	animation: slide-down-animation 4.8s ease-in infinite;
}

#svg-graphic-blue-line {
	stroke: var(--blue-color);
	animation: slide-down-animation 6.8s ease-in infinite;
}

#svg-graphic-orange-line {
	stroke: var(--orange-color);
	animation: slide-down-animation 4s ease-in infinite;
}

@keyframes slide-down-animation {
	0% { clip-path: inset(0vh -100vw 100vh); }
	50% { clip-path: inset(0 -100vw 0); }
  100% { clip-path: inset(100vh -100vw -100vw 0vh); }
}