@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&family=Roboto:wght@100&display=swap');

body {
	--main-text-color: white;
	--main-bg-color: #0B0B0B; 
	
	color: var(--main-text-color);
	background-color: var(--main-bg-color);
	
	max-height: 100vh;

	display: flex;
	flex-direction: nowrap;
	justify-content: flex-start;

	font-family: 'Roboto Mono', monospace;

	margin:0;
}

.graphic {
	min-width: 20vw;
	min-height: 100vh;
}

.info-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-top: 40vh;
}

h1 {
	font-family: 'Roboto', sans-serif;
	margin: 0
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

p {
	margin: 0;
}

a {
	color: var(--main-text-color);
	text-decoration: none;
}

.vertical-line {
	height: 1px;
	width: 100%;
	background-color: var(--main-text-color);
}

a:hover {
	text-decoration: underline;
}

/* .green-line {
	animation-name: color;
}

@keyframes green-line {
  0% {
    background-color: #222;
  }
  50% {
    background-color: #4285f4;
  }
  100 {
    background-color: #222;
  }
} */